---
Name: telescope-request-processors
After:
  - requestprocessors
---
SilverStripe\Core\Injector\Injector:
  SilverStripe\Control\Director:
    properties:
      Middlewares:
        TelescopeRequestMiddleware: %$TelescopeRequestMiddleware
  TelescopeRequestMiddleware:
    class: 'AdrHumphreys\Telescope\Middleware\RequestMiddleware'

---
Name: telescope-routes
---
SilverStripe\Control\Director:
  rules:
    'telescope/api//$Action/$ID': 'AdrHumphreys\Telescope\Controllers\Api'
    'telescope/$*/$*': 'AdrHumphreys\Telescope\Controllers\Telescope'

---
Name: telescope-log-handler
---
SilverStripe\Core\Injector\Injector:
  Psr\Log\LoggerInterface:
    calls:
      AddTelescopeLogHandler: [ pushHandler, [ %$AdrHumphreys\Telescope\Handlers\LogHandler ] ]
