$font-family-base: "Nunito", sans-serif;

$font-size-base: 0.95rem;
$badge-font-size: 0.95rem;

$primary: #4040c8;
$secondary: #dae1e7;
$success: #51d88a;
$info: #bcdefa;
$warning: #fff382;
$danger: #ef5753;

$body-bg: #edf1f3;

$btn-focus-width: 0;

$sidebar-nav-color: #2a5164;
$sidebar-icon-color: #c3cbd3;

$pill-link-active: $primary;

$border-color: #efefef;
$table-headers-color: #f3f4f6;
$table-border-color: #efefef;
$table-hover-bg: #f1f7fa;

$header-border-color: #d5dfe9;

$card-cap-bg: #fff;
$card-bg-secondary: #f1f7fa;
$card-shadow-color: #cdd8df;

$code-bg: #120f12;

$paginator-button-color: #9ea7ac;

$new-entries-bg: #fffee9;

$control-action-icon-color: #ccd2df;

$grid-breakpoints: (
  xs: 0,
  sm: 2px,
  md: 8px,
  lg: 9px,
  xl: 10px,
) !default;

$container-max-widths: (
  sm: 1137px,
  md: 1138px,
  lg: 1139px,
  xl: 1140px,
) !default;

@import "node_modules/bootstrap/scss/bootstrap";
@import "~balloon-css/src/balloon";
@import "links";
@import "tables";
@import "card";
@import "code";

.background-secondary {
  background-color: $card-bg-secondary;
}

.box-shadow {
  box-shadow: 0 2px 3px $card-shadow-color;
}

.header {
  background-color: white;
  margin-bottom: 0;
  padding: 0.75rem 1.25rem;
  font-size: 1.1875rem;
}

a {
  text-decoration: none;
}

.navbar {
  border-bottom: solid 1px $header-border-color;
}

.control-action svg {
  fill: $control-action-icon-color;
  width: 1.2rem;
  height: 1.2rem;

  &:hover {
    fill: $primary;
  }
}

.tooltip-big-text {
  --balloon-font-size: 1rem;
}

.happened {
  text-transform: capitalize;
}

.trash-panda {
  margin-left: 10px;
}

.trash-panda img {
  display: none;
}

.trash-panda:hover img {
  display: block;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 10;
}

.nav-pills .nav-link.active {
  background: none;
  color: $pill-link-active;
  border-bottom: solid 2px $primary;
}

.nav-pills .nav-link {
  font-size: 0.9rem;
  border-radius: 0;
  padding: 0.75rem 1.25rem;
  color: $body-color;
}

pre.sf-dump .sf-dump-ellipsis {
  max-width: 100%;
}

.tab-content {
  background-color: #fff;
  padding: 1rem;
}

.sidebar .nav {
  position: sticky;
  top: 20px;
}
