.card {
  //box-shadow: 0 2px 3px $card-shadow-color;
  //border: none;
  //
  //.bottom-radius {
  //  border-bottom-left-radius: $card-border-radius;
  //  border-bottom-right-radius: $card-border-radius;
  //}

  //.card-header {
  //  padding-top: 0.7rem;
  //  padding-bottom: 0.7rem;
  //  background-color: $card-cap-bg;
  //  border-bottom: none;
  //
  //  .btn-group {
  //    .btn {
  //      padding: 0.2rem 0.5rem;
  //    }
  //  }
  //
  //  h5 {
  //    margin: 0;
  //  }
  //}

  //.table {
  //  th,
  //  td {
  //    padding: 0.75rem 1.25rem;
  //  }
  //
  //  &.table-sm {
  //    th,
  //    td {
  //      padding: 1rem 1.25rem;
  //    }
  //  }
  //
  //  th {
  //    background-color: $table-headers-color;
  //    font-weight: 400;
  //    padding: 0.5rem 1.25rem;
  //    border-bottom: 0;
  //  }
  //
  //  &:not(.table-borderless) {
  //    td {
  //      border-top: 1px solid $table-border-color;
  //    }
  //  }
  //
  //  &.penultimate-column-right {
  //    th:nth-last-child(2),
  //    td:nth-last-child(2) {
  //      text-align: right;
  //    }
  //  }
  //
  //  th.table-fit,
  //  td.table-fit {
  //    width: 1%;
  //    white-space: nowrap;
  //  }
  //}
}
