svg.icon {
  width: 1rem;
  height: 1rem;
}

.sidebar .nav-item {
  a {
    color: $sidebar-nav-color;
    padding: 0.5rem 0;

    svg {
      width: 1rem;
      height: 1rem;
      margin-right: 15px;
      fill: $sidebar-icon-color;
    }

    &.active {
      color: $primary;

      svg {
        fill: $primary;
      }
    }
  }
}
