.table-responsive {
  border-radius: 0.25rem;
}

.table {
  background: $card-bg-secondary;
  border-radius: 5px;

  th,
  td {
    padding: 1rem 1.25rem;
  }

  &.table-sm {
    th,
    td {
      padding: 1rem 1.25rem;
    }
  }

  th {
    background-color: $table-headers-color;
    font-weight: 400;
    border-bottom: 0;
    font-size: .95rem;
    padding-top: 1.1rem;
    padding-bottom: 1.1rem;
  }

  &:not(.table-borderless) {
    td {
      border-top: 1px solid $table-border-color;
    }
  }

  &.penultimate-column-right {
    th:nth-last-child(2),
    td:nth-last-child(2) {
      text-align: right;
    }
  }

  &--light tbody {
    background-color: #fff;
  }

  &--request {
    font-size: 1rem;

    td {
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
    }
  }

  th.table-fit,
  td.table-fit {
    width: 1%;
    white-space: nowrap;
  }
}
